* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  padding: 10px 20px;
  background-color: #e28f29;
}
.header h3 {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 30px;
}
/* second layers of the  system */
.container {
  width: 100%;
  height: 50px;

  display: flex;
  padding: 10px 20px;
}
.container .btn-filters {
  width: 50%;
  height: 100%;
}
.container .btn-filters button,
.container .btn-search button {
  border: none;
  outline: none;
  background-color: #479142;
  padding: 10px 20px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  color: white;
  margin: 0px 10px;
  border-radius: 5px;
  text-align: center;
}
.container .btn-search {
  width: 50%;
  height: 100%;
}
.container .btn-search i {
  font-size: 30px;
  color: #479142;

  padding-right: 10px;
}
.container .btn-search input {
  width: 70%;
  padding: 13px;
  outline: none;
  border: none;
  margin: 0px 0px;
  border-bottom: 2px solid #479142;
  font-size: 19px;
  font-family: "Times New Roman", Times, serif;
}
/* starting table csss*/
.table-box {
  width: 100%;
  padding: 30px;
}
.table-box table {
  width: 100%;
  border: 1px solid rgb(51, 78, 51);
}
.table-box table tr th {
  border-right: 1px solid rgb(51, 78, 51);
  padding: 15px 0px 0px;
  font-size: 19px;
  font-family: "Times New Roman", Times, serif;
  border-bottom: 1px solid rgb(51, 78, 51);
}
.table-box table tr td {
  border: 1px solid rgb(51, 78, 51);
  padding: 10px 0px 0px;

  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.table-box table tr td button {
  border: none;
  outline: none;
  background-color: #479142;
  padding: 5px 5px;

  font-family: "Times New Roman", Times, serif;
  color: white;

  border-radius: 5px;
  text-align: center;
}
/* starting of the modal */
.modal{
  width: 0%;
  position: fixed;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
  display: flex;
  border-top: 10px groove rgb(16, 150, 16);
  opacity: 0;
  z-index: -1;
  transition: 0.5s ease-in-out;
}
.modal.active{
    opacity: 1;
    z-index: 1;
    width: 60%;
}
.modal .close-icon {
  position: absolute;
  right: -25px;
  font-size: 35px;
  top: -35px;
  padding: 10px;
  color: rgb(114, 10, 10);
}
.modal .left-modal {
  width: 30%;
  height: 100%;
  background-color: rgb(211, 211, 211);
}
.modal .left-modal .img-itm-box {
  width: 100%;
  height: 40%;
  background-color: rgb(226, 226, 226);
  display: flex;
  padding: 30px;
  position: relative;
}
.modal .left-modal .img-itm-box input {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 90px;
  right: 40px;
  opacity: 0;
}
.modal .left-modal .img-itm-box i {
  font-size: 30px;
  padding: 10px;
  position: absolute;
  top: 90px;
  right: 40px;
  color: grey;
}
.modal .left-modal .img-itm-box img {
  border-radius: 40px;
}
.modal .right-modal {
  width: 70%;
  height: 100%;
  background-color: rgb(226, 226, 226);
  border-left: 5px groove rgb(16, 150, 16);
  padding: 30px;
}

.modal .right-modal .input-right {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.modal .right-modal .input-right label {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  padding: 10px;
  margin: 10px 0px;
}
.modal .right-modal .input-right input {
  width: 70%;
  padding: 10px;
  outline: none;
  border: none;
  margin: 10px 0px;
  border-bottom: 2px solid #479142;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
  background-color: transparent;
}
.modal .right-modal .action-btns button {
  width: 45%;
  border: none;
  outline: none;
  background-color: #479142;
  padding: 10px 20px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  color: white;
  margin: 20px 10px;
  border-radius: 5px;
  text-align: center;
}
.modal .right-modal .action-btns button:disabled {
  filter: grayscale(80%);
}
